<div id="chatbox">
  <div class="header">
    <div class="row">
      <div class="col-md-4">
        <div class="d-table">
          <div class="form-header">
            <h2>Lets Chat</h2>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="header-right">
          <div class="row">
            <div class="col-md-6">
              <div class="d-table">
                <div class="group-btn text-right">
                  <button class="btn btn-primary mr-2">Create Group</button>
                  <button class="btn btn-primary">Search Friend</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="user-info">
                <div class="row">
                  <div class="col-md-6">
                    <div class="user-avatar"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-table">
                      <div class="user-name">Devesh</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
