<div class="p-5" id="reset-password">
  <div id="reset-password-form">
    <div class="form-header">
      <h2 class="text-center">Reset Password</h2>
    </div>
    <div class="form-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="formDetails">
        <div class="form-fields-container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="otp">OTP*</label>
                <input id="otp" type="text" formControlName="otp" class="form-control" placeholder="Enter OTP" required>
                <span class="pb-4">Note: OTP will be valid for 1 hour only.</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">New Password*</label>
                <input class="form-control" formControlName="password" id="password" placeholder="Enter New Password" type="password" required/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="confirm-password">Confirm Password*</label>
                <input class="form-control" formControlName="confirmPassword" id="confirm-password" placeholder="Enter Confirm Password" type="password" required/>
              </div>
            </div>
            <div class="col-md-12">
              <button [disabled]="!formDetails.valid" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
