* {
  font-family: 'Roboto', sans-serif;
}

/*h1, h2 {*/
/*  font-family: 'Vast Shadow', cursive;*/
/*}*/

.form-header h2 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  letter-spacing: 1px;
}

::-webkit-input-placeholder { /* Edge */
  color: #e7e7e7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #e7e7e7;
}

::placeholder {
  color: #e7e7e7;
}

label {
	font-weight: 600;
}

button:disabled {
    cursor: not-allowed;
}
