<div class="p-5" id="signup">
  <div id="signup-form">
    <div class="form-header">
      <h2 class="text-center">Sign Up</h2>
    </div>
    <div class="form-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="formDetails">
        <div class="form-fields-container">
          <div class="row">
          	<div class="col-md-12">
          		<div class="form-group">
          			<label for="username">Username*</label>
          			<input id="username" type="text" class="form-control" formControlName="username" placeholder="Enter Username" required />
          		</div>
          	</div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">Email*</label>
                <input class="form-control" formControlName="email" id="email" placeholder="Enter Email" type="text" required/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Password*</label>
                <input class="form-control" formControlName="password" id="password"
                       placeholder="Enter Password"
                       type="password" />

              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="confirmpassword">Confirm Password*</label>
                <input class="form-control" formControlName="confirmPassword" id="confirmpassword"
                       placeholder="Renter Password"
                       type="password" />

              </div>
            </div>
            <div class="col-md-12">
              <button [disabled]="!formDetails.valid" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>